<div class="row">
    <div class="col-md-12">
        <h1>{{title}}</h1>
        <h3>Would you like to play a game of Gin?</h3>
    </div>

</div>

<div class="row">
    <div class="col-sm-12">
        <a href="./game" class="btn btn-primary">New Game</a>
    </div>
</div>